/* IMPORT FONT */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/* VARIABLES */

:root {
  /* THEME 1 */

  /* BACKGROUNDS */
  --bg-clr-main: hsl(222, 26%, 31%);
  --bg-clr-toggle-keypad: hsl(223, 31%, 20%);
  --bg-clr-screen: hsl(224, 36%, 15%);
  
  /* KEYS */

  --bg-clr-key-del-reset: hsl(225, 21%, 49%);
  --shadow-clr-key-del-reset: hsl(224, 28%, 35%);

  --bg-clr-key-equal-toggle: hsl(6, 63%, 50%);
  --shadow-clr-key-equal: hsl(6, 70%, 34%);

  --bg-clr-key: hsl(30, 25%, 89%);
  --shadow-clr-key: hsl(28, 16%, 65%);

  /* TEXT */
  --clr-primary: hsl(221, 14%, 31%);
  --clr-secondary: hsl(0, 0%, 100%);
  --clr-window-header: hsl(0, 0%, 100%);
  --clr-equal: hsl(0, 0%, 100%);
  
  --fs-title: 1.875rem;
  --fs-numbers: 2rem;
  --fs-window: 3.125rem;
  --fs-reset-del: 1.563rem;
  --fs-label-theme: 0.625rem;
  --fs-label-number-theme: 0.75rem;
  --pd-btn: 0.938rem;
  --pd-top-bottom-window: 2.188rem;
  --pd-btn-wrapper: 1.875rem;
  --pd-btn-wrapper-hr: 1.563rem;
  --pd-btn-wrapper-vr: 1.25rem;
  --pd-lateral-window: 1.875rem;
  --border-radius-btn: 0.75rem;
  --height-min-window: 7.5rem;
  --font-family-body: "League Spartan", sans-serif, Arial;
  --min-width-app: 31.25rem;
  --offset-btn-shadow: -0.313rem;
  --mg-top-window: 1.25rem;

  --height-input: 0.938rem;
  --width-input: 0.938rem;
  --transition: 0.6s;
}

/* THEME 2 */

body[data-theme="theme-two"] {
  /* BACKGROUNDS */
  --bg-clr-main: hsl(0, 0%, 90%);
  --bg-clr-toggle-keypad: hsl(0, 5%, 81%);
  --bg-clr-screen: hsl(0, 0%, 93%);
  
  /* KEYS */

  --bg-clr-key-del-reset: hsl(185, 42%, 37%);
  --shadow-clr-key-del-reset: hsl(185, 58%, 25%);

  --bg-clr-key-equal-toggle: hsl(25, 98%, 40%);
  --shadow-clr-key-equal: hsl(25, 99%, 27%);

  --bg-clr-key: hsl(45, 7%, 89%);
  --shadow-clr-key: hsl(35, 11%, 61%);

  /* TEXT */
  --clr-primary: hsl(60, 10%, 19%);
  --clr-secondary: hsl(0, 0%, 100%);
  --clr-window-header: hsl(60, 10%, 19%);
  --clr-equal: hsl(0, 0%, 100%);
}

/* THEME THREE */
body[data-theme="theme-three"] {

  /* BACKGROUNDS */
  --bg-clr-main: hsl(268, 75%, 9%);
  --bg-clr-toggle-keypad: hsl(268, 71%, 12%);
  --bg-clr-screen: hsl(268, 71%, 12%);
  
  /* KEYS */

  --bg-clr-key-del-reset: hsl(281, 89%, 26%);
  --shadow-clr-key-del-reset: hsl(285, 91%, 52%);

  --bg-clr-key-equal-toggle: hsl(176, 100%, 44%);
  --shadow-clr-key-equal: hsl(177, 92%, 70%);

  --bg-clr-key: hsl(268, 47%, 21%);
  --shadow-clr-key: hsl(290, 70%, 36%);

  /* TEXT */
  --clr-primary: hsl(52, 100%, 62%);
  --clr-secondary: hsl(0, 0%, 100%);
  --clr-window-header: hsl(52, 100%, 62%);
  --clr-equal: hsl(198, 20%, 13%);
}

/* RESET */

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
  font-family: var(--font-family-body);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-clr-main);
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* APP */

.app {
  min-width: var(--min-width-app);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.app * {
  transition: var(--transition);
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--clr-window-header);
}

.title {
  font-size: var(--fs-title);
  line-height: 0.6;
}

.label-theme {
  font-size: var(--fs-label-theme);
  margin-left: auto;
  margin-bottom: 0.25rem;
  line-height: 1;
  margin-right: 1.25rem;
  letter-spacing: 0.125rem;
}

input {
  height: var(--height-input);
  width: var(--width-input);
  appearance: none;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  margin: 0.25rem;
}

input:hover {
  cursor: pointer;
}

.tri-state-toggle {
  margin-top: 0.188rem;
  max-width: 4.688rem;
  display: flex;
  justify-content: center;
  border-radius: 6.25rem;
  background-color: var(--bg-clr-toggle-keypad);
}

[data-theme="theme-two"] {
  #one {
    opacity: 0;
  }
  #two {
    opacity: 1;
  }
  #three {
    opacity: 0;
  }
}

[data-theme="theme-three"] {
  #one {
    opacity: 0;
  }
  #two {
    opacity: 0;
  }
  #three {
    opacity: 1;
  }
}

#one {
  opacity: 1;
}

#two {
  opacity: 0;
}

#three {
  opacity: 0;
}

input[type="radio"] {
  background-color: var(--bg-clr-key-equal-toggle);
}

.label-number-theme {
  font-size: var(--fs-label-number-theme);
  max-width: 4.688rem;
  display: flex;
  gap: 0.375rem;
  justify-content: space-evenly;
}


/* WRAPPER BTNS */

.btns-wrapper {
  display: grid;
  grid-gap: var(--pd-btn-wrapper-vr) var(--pd-btn-wrapper-hr); 
  grid-template-columns: repeat(4, 1fr);
  border-radius: 0.75rem;
  background-color: var(--bg-clr-toggle-keypad);
  padding: var(--pd-btn-wrapper);
}

.btn-RESET, .btn-EQUAL {
  grid-column: span 2; 
}

.btn {
  background-color: var(--bg-clr-key);
  font-size: var(--fs-numbers);
  padding: var(--pd-btn);
  border-radius: var(--border-radius-btn);
  color: var(--clr-primary);
  box-shadow: inset 0px var(--offset-btn-shadow) 0px 0px var(--shadow-clr-key);
}

.btn-RESET, .btn-DEL {
  font-size: var(--fs-reset-del);
  color: var(--clr-secondary);
  background-color: var(--bg-clr-key-del-reset);
  box-shadow: inset 0px var(--offset-btn-shadow) 0px 0px var(--shadow-clr-key-del-reset);
}

.btn-EQUAL {
  color: var(--clr-equal);
  background-color: var(--bg-clr-key-equal-toggle);
  box-shadow: inset 0px var(--offset-btn-shadow) 0px 0px var(--shadow-clr-key-equal);
}

/* WINDOW */

.window {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  line-height: 1;
  padding: var(--pd-top-bottom-window) var(--pd-lateral-window);
  background-color: var(--bg-clr-screen);
  font-size: var(--fs-window);
  color: var(--clr-window-header);
  border-radius: 0.75rem;
  margin-top: var(--mg-top-window);
  min-height: var(--height-min-window);
}

/* RESPONSIVE */

@media only screen and (max-width: 680px) {
  :root {
    --fs-title: 1.5rem;
    --fs-numbers: 1.5rem;
    --fs-window: 1.8rem;
    --fs-reset-del: 1rem;
    --fs-label-theme: 0.6rem;
    --fs-label-number-theme: 0.6rem;

    --pd-btn: 0.8rem;
    --pd-top-bottom-window: 1.2rem;
    --pd-btn-wrapper: 1rem;
    --pd-btn-wrapper-hr: 0.5rem;
    --pd-btn-wrapper-vr: 0.5rem;
    --pd-lateral-window: 1.2rem;

    --mg-top-window: 0.5rem;
    --height-min-window: 4.2rem;

    --min-width-app: 4rem;
    --height-input: 0.8rem;
    --width-input: 0.8rem;
    --border-radius-btn: 0.5rem;
    --offset-btn-shadow: -0.125rem;
  }
}